body {
    background-image: url('../images/dinoBackground.jpg');
}

.container {
    text-align: center;
    margin-top: 5%;
    background: rgba(102, 153, 0, 0.75);
    border: black 2px solid;
    padding: 20px;
    font-family: 'Do Hyeon', sans-serif;
}

.titleBar {
    font-size: 48px;
}

.quizSection {
    font-size: 36px;
}

.answerBar{
    width: 60%;
    font-size: 24px;
    margin: 5px 0;
}

#firstAnswer {
    margin-top: 5px;
}